@model GoFlex.Web.ViewModels.SignUpViewModel

@{
    Layout = "_BaseLayout";
}

<div class="text-center">
    <div class="card form-login shadow-lg">
        <div class="card-title h3">Signing Up</div>
        <div class="card-body">
            <form method="post" asp-action="SignUp">
                <div class="form-group mb-3">
                    <input asp-for="Email" type="text" placeholder="Email" name="email" class="form-control"
                           required autofocus minlength="4" maxlength="128"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="Password" id="inputPassword" type="password" placeholder="Password" name="password" class="form-control mb-2"
                           required minlength="5" maxlength="128" />
                    <input asp-for="ConfirmPassword" id="confirmPassword" type="password" placeholder="Confirm password" name="confirmPassword" class="form-control"
                           required minlength="5" maxlength="128" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <input asp-for="IsOrganizer" id="checkbox" type="checkbox" name="isOrganizer" class="form-check-inline"/>
                    <label for="checkbox">I'm an organizer</label>
                </div>
                <input type="submit" value="Sign Up" class="btn btn-primary"/>
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
            </form>
        </div>
    </div>
</div>